.row
  = simple_form_for @task, url: todolist_tasks_path, method: :post, wrapper: :central_form do |f|
    = f.input :title, placeholder: 'Specify title', error: 'Title is mandatory field'
    = f.input :description, placeholder: 'Describe it'
    = f.button :formatted_submit, 'Create task'
.row
  .text-center
    = link_to "Back", :back, class: 'btn btn-default'