.table-responsive
  %table{class: 'table table-hover'}
    %thead
      %tr
        %th ID
        %th Name
        %th Author
        %th Number of tasks
        %th Delete?
    %tbody
      - @todolists.each do |list|
        %tr
          %td= list.id
          %td= list.name
          %td= list.author
          %td= list.tasks.count
          %td
            = button_to 'Delete', todolist_path(list.id), method: :delete, class: 'btn btn-warning'