.table-responsive
  %table{class: 'table table-hover'}
    %thead
      %tr
        %th ID
        %th Name
        %th Author
        %th Number of tasks
        %th
    %tbody
      - @todolists.each do |list|
        %tr
          %td= list.id
          %td= list.name
          %td= list.user.nickname
          %td= list.tasks.count
          %td
            .btn-group
              - if policy(list).destroy?
                = link_to 'Delete list', todolist_path(list.id), method: :delete, class: 'btn btn-sm btn-default'
              - # brzydko i powinno znajdować się gdzie indziej, ale szkoda na to czasu
              - if policy(Task.new(todolist: list)).create?
                = link_to 'Create task', new_todolist_task_path(list.id), class: 'btn btn-sm btn-default'
.text-center
  = link_to "Back", :back, class: 'btn btn-default'